body {
  font-family: "Barlow";
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}



// Fix container width
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
  .container-lg {
    max-width: 1294px;
  }
  .container-lg > .row:first-child {
    padding: 77px 77px 0px!important;
  }
  .container-lg > .row:last-child {
    padding: 25px 77px 25px 77px!important;
  }
}
// Add extra bootstrap attributes
@include media-breakpoint-up(lg) { 
  .ms-6 {
    margin-left: 4rem !important;
  }
 }

.py-4-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}


// Menu

.navbar-nav {
  & .nav-link-lang {
    // existing styles....
    &:after {
      content: "";
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.15rem;
      background: transparent;
      display: block;
      margin-top: 0.25rem;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover,
    &:focus-visible,
    &.active {
      color: $teal-900;

      &:after {
        content: "";
        background: currentColor;
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  & li {
    & a {
      color: $coolgray-600;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 24px;
      padding: 15px 14px;

      &:hover {
        color: $teal-900;
      }
      &:active {
        color: $teal-900;
      }
    }
  }
}
// Navbar
nav {
  z-index: 2;
}
.navbar {
  height: 92px;
}

.navbar-toggler {
  font-size: 1.5rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color:$teal-400;
  overflow-x: hidden;
  transition: 0.3s;
  overflow: auto;
  overscroll-behavior-y: contain;
}

.overlay a:not(.brand) {
  text-decoration: none;
  font-size: 2rem;
  color: $white!important;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}
.overlay button.dropdown__title  {
  text-decoration: none;
  font-size: 2rem;
  color: $white;
  display: block;
  transition: 0.3s;
  font-weight: 500;
  padding-left: 0;
}

.overlay a:hover,
.overlay a:focus {
  color: $gray-100;
}

.overlay .closebtn {
  border: none;
  outline: none;
  background: transparent;
  color: $white;
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
}

.wordmark {
  opacity: 0;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  left: 40px;
}

.navbar-brand:hover .wordmark {
  opacity: 1;
  transform: translateX(15px);
}

.navbar-mobile{
  & ul{
    list-style: none;
    padding-left: 0!important;
  }
}

button.dropdown__title {
  display: block; 
  padding: 15px 14px;
  color: $teal-600;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  background: transparent;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
  
}
ul.language-list {
  position: absolute;
  padding-left: 0;
  max-width: 15rem;
  display: none;
  transition: 280ms all ease-out;
}
.dropdown {
  // ... existing styles

  &:hover,
  &:focus-within {
    ul.language-list {
     display: block;
    }
  }
}

// // Home
// .banner-true {
//   background-image: url(/img/home/banner.svg);
//   background-repeat: no-repeat;
//   background-position: right;
//   background-size: contain;
// }
// .banner2-true {
//   background-image: url(/img/home/banner2.svg);
//   background-repeat: no-repeat;
//   background-position: left;
//   background-size: contain;
//   padding: 120px 0;
//   margin-top: -120px;
//   margin-bottom: -120px;
// }

// .queryella {
//   //existing style...
//   & p {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 164%;
//     color: $teal-900;
//   }
//   @include media-breakpoint-up(lg) { 
//     .max-h-500 {
//       max-height: 500px;
//     }
//    }
  
//   & .banner {
//     & h1 {
//       font-family: "Outfit var", sans-serif;
//       font-size: 48px;
//       color: $teal-900;
//       background: $coolgray-200;
//       display: inline;
//     }
//     & h2 {
//       font-family: "Outfit var", sans-serif;
//       font-size: 2.5rem;
//     }
//     & p {
//       font-size: 18px;
//       line-height: 157.52%;
//     }
//     & .news-wrapper{
//       background: $white;
//       @include media-breakpoint-up(lg) { 
//        width: 75%;
//        }

//       & .news-date{
//         font-weight: 700;
//         font-size: 12px;
//         line-height: 100%;
//         text-transform: uppercase;
//         color: $teal-700;
//       }
//       & .news-title{
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 28px;
//         color: #312E81;
//       }

//       & .news-link{
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 18px;
//         color: $teal-600;
//         text-decoration: none;
//       }
//     }
//   }
//   & .features {
//     //existing styles...
//     & .icon-wrapper {
//       flex-basis: 15.6%;
//       padding-right: 0.4%;
//     }
//     & .content-wrapper {
//       flex-basis: 84%;
//     }
//     & .title {
//       font-weight: 500;
//       font-size: 20px;
//       line-height: 157.52%;
//       color: $teal-900;
//       text-decoration: none;
//     }

//     &::after {
//       content: "";
//       position: relative;
//       width: 21%;
//       height: 1px;
//       left: 0;
//       display: block;
//       background: #d1d5db;
//       margin: auto;
//     }
//   }
//   & .counters {
//     // existing style...
//     & h1 {
//       font-size: 48px;
//       line-height: 157.52%;
//       color: #1c0e71;
//     }
//     & h2 {
//       font-size: 32px;
//       line-height: 28px;
//       color: $teal-900;
//       background: $coolgray-200;
//       width: fit-content;
//     }
//     & ul {
//       padding: 15px 40px;
//       font-size: 16px;
//       line-height: 164%;
//       color: $teal-900;

//       & li {
//         width: 46%;
//         float: left;
//       }
//     }
//   }

//   & .supporters, .publications {
//     //existing style...
//     & h2 {
//       font-weight: 500;
//       font-size: 32px;
//       line-height: 28px;
//       color: $teal-900;
//       background: $coolgray-200;
//       width: fit-content;
//       margin: auto;   
//       font-family: "Outfit var", sans-serif;  
//     }

//     & img {
//       // mix-blend-mode: luminosity;
//       transition: all ease-in 0.5s;
//       &:hover {
//         mix-blend-mode: normal;
//       }
//     }
//   }
//   & .publications, .publikationen{
//     //existing style...
//     & .pub-articles-wrapper {
//       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
//       border-radius: 6px;
//       transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//       border-top: 2px solid #e5e7eb;
     
//       & .pub-icons {
//         width: auto;
//       }
//       & .pub-icons2{
//         width: auto;
//       }
//       & .pub-date {
//         & a{
//           font-weight: 400;
//           font-size: 16px;
//           line-height: 20px;
//           color: $gray-500;
//           text-decoration: none;
//         } 
//       }
//       & .pub-articles-title  {
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 20px;
//         color: $teal-900;
//         text-decoration: none;
//       }
//       & .pub-articles-content{
//         font-size: 14px;
//         color: $gray-500;
//         & a{
//           word-break: break-word;
//           color: $teal-600;
//           &:hover{
//             color: $teal-800;
//           }
//         }
//         & p{
//           margin-bottom: 0;
//           & :first-child:not(a){
//             color: $gray-700;
//           }
//         }
       
//       }
//       & .authors{
//         font-size: 14px;
//         color: $gray-500;
//       }
     
//       .pub-date {
//           font-weight: 400;
//           font-size: 14px;
//           line-height: 20px;
//           color: $gray-500;
//         } 
//     }
//     & a.see-all{
//       color: $teal-600;
//       font-weight: 500;
//       font-size: 18px;
//       text-decoration: none;
//       &:hover{
//         color: $teal-800;
//       }
//     }

//   }
  
// }

// // About
// .about, .solutions, .lösungen, .über {
//   //existing styles..
//   & p {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 164%;
//     color: #312e81;
//   }
//   & .banner {
//     //existing styles..
//     & h1 {
//       font-size: 48px;
//       color: $teal-900;
//       background: $coolgray-200;
//       display: inline;
//       font-family: "Outfit var", sans-serif;
//     }

//     & .sub-banner {
//       font-weight: 500;
//       font-size: 24px;
//       color: $teal-900;
//     }
//   }
//   & .intro {
//     //existing styles...
//     & h2 {
//       font-size: 32px;
//       line-height: 100%;
//       color: $teal-900;
//     }
//     & p {
//       font-size: 18px;
//       line-height: 157.52%;
//       color: $teal-900;
//     }
//   }
//   & .our-expertise {
//     // existing styles...
//     & h2 {
//       font-size: 32px;
//       line-height: 28px;
//       color: $teal-900;
//       background: $coolgray-200;
//       display: inline;
//       width: auto;
//     }

//     & .icon-wrapper {
//       flex-basis: 10.6%;
//       padding-right: 0.4%;
//       margin-bottom: 17px;
//     }
//     & .content-wrapper {
//       flex-basis: 89%;
//       & span {
//         & p{
//           padding-right: 3rem;
//           margin-top: 4px;
//           & a{
//             color: $teal-600;
//           }
//         }
//       }
//     }
//     & .title {
//       font-weight: 500;
//       font-size: 20px;
//       line-height: 157.52%;
//       color: $teal-900;
//       text-decoration: none;
//     }
//   }
//   & .solution-features{
//     // existing styles...
//     & h2 {
//       font-size: 32px;
//       line-height: 28px;
//       color: $teal-900;
//       background: $coolgray-200;
//       display: inline;
//       width: auto;
//     }

//     & .icon-wrapper {
//       flex-basis: 8.6%;
//       padding-right: 0.4%;
//       margin-bottom: 17px;
//     }
//     & .content-wrapper {
//       flex-basis: 91%;
//       & span {
//         & p{
//           padding-right: 3rem;
//           margin-top: 4px;
//           & a{
//             color: $teal-600;
//           }
//         }
//       }
//     }
//     & .title {
//       font-weight: 500;
//       font-size: 20px;
//       line-height: 157.52%;
//       color: $teal-900;
//       text-decoration: none;
//     }

//   }
//   & .team-members {
//     // existing styles...
//     & h2 {
//       font-size: 32px;
//       line-height: 28px;
//       color: #312e81;
//       background: $coolgray-200;
//       display: inline;
//       width: fit-content;
//     }
//     & h3 {
//       font-weight: 500;
//       font-size: 20px;
//       color: $teal-900;
//     }
//     & span {
//       font-weight: 400;
//       font-size: 14px;
//       line-height: 18px;
//       color: $gray-600;
//       text-transform: uppercase;
//     }
//   }
// }

// // Blog

// .blog {
//   //existing styles...
//   & .banner {
//     //existing styles..
//     & h1 {
//       font-size: 48px;
//       color: $teal-900;
//       background: $coolgray-200;
//       display: inline;
//       font-family: "Outfit var", sans-serif;
//     }

//     & .sub-banner {
//       font-weight: 500;
//       font-size: 24px;
//       color: $teal-900;
//       font-family: "Outfit var", sans-serif;
//     }
//   }

//   & .card {
//     border: none;
//     & .title {
//       font-weight: 500;
//       font-size: 32px;
//       line-height: 100%;
//       color: $teal-900;
//       text-decoration: none;
//       font-family: "Outfit var", sans-serif;
//     }
//   }
// }

// .blog-single {
//   //existing styles...

//   & .banner {
//     //existing styles..

//     & .sub-banner {
//       font-weight: 500;
//       font-size: 24px;
//       color: $teal-900;
//     }
//     & h1 {
//       font-size: 48px;
//       color: #312e81;
//       background:$coolgray-200;
//       display: inline;
//       font-family: "Outfit var", sans-serif;
//     }

//     & time {
//       font-weight: 700;
//       font-size: 16px;
//       line-height: 100%;
//       text-transform: uppercase;
//       color: $teal-900;
//       font-family: "Outfit var", sans-serif;
//     }
//   }
//   & .calltoaction {

//     & h2 {
//       color: #ffffff;
//     }

//     & .main-bnt {
//       background: linear-gradient(225deg, transparent 7px, $coolgray-200 7px);
//       color: $teal-900;
//     }
//   }

//   & article {
//     //existing styles..
//     & p {
//       font-size: 18px;
//       line-height: 157.52%;
//       margin-bottom: 2rem;
//       color: $teal-900;
//       text-align: justify;
//     }
//     & h1 {
//       font-weight: 500;
//       font-size: 32px;
//       line-height: 100%;
//       color: $teal-900;
//       padding-bottom: 0.75rem;
//       font-family: "Outfit var", sans-serif;
//     }
//   }
//   & .author-wrapper {
//     //existing styles...
//     & h4 {
//       font-weight: 700;
//       font-size: 16px;
//       line-height: 100%;
//       text-transform: uppercase;
//       color: #312e81;
//     }
//     & img {
//       width: fit-content;
//     }
//     & a {
//       font-weight: 600;
//       font-size: 20px;
//       line-height: 120%;
//       text-decoration: none;
//       color: #312e81;
//     }
//     & p.position {
//       font-size: 16px;
//       line-height: 120%;
//       color: $gray-700;
//     }
//     & p.desc {
//       font-size: 14px;
//       line-height: 157.52%;
//       color: $gray-600;
//     }
//   }
// }

// // Paginator Default
// .pagination {
//   border-top: 1px solid $gray-200;
//   justify-content: center;
//   margin-top: 4rem;

//   & .page-item {
//     padding: 10px 0px;
//     &:first-child {
//       display: none;
//     }
//     &:last-child {
//       display: none;
//     }
//     &:nth-child(2) {
//       justify-self: flex-start;
//       margin-right: auto;
//     }
//     &:nth-last-child(2) {
//       justify-self: flex-end;
//       margin-left: auto;
//     }
//     & .page-link {
//       border: none;
//       color: $gray-500;
//       &:focus {
//         z-index: 3;
//         color: $teal-900;
//         background-color: $teal-50;
//         outline: 0;
//         box-shadow: 0 0 0 0.25rem $teal-50;
//       }
//       &:hover {
//         z-index: 3;
//         color: $teal-900;
//         background-color: $teal-50;
//         outline: 0;
//         box-shadow: 0 0 0 0.25rem $teal-50;
//       }
//     }
//     & .page-link[aria-label="Previous"] {
//       & span {
//         display: none;
//       }
//       &:after {
//         content: "← Previous";
//       }
//     }
//     & .page-link[aria-label="Next"] {
//       & span {
//         display: none;
//       }
//       &:after {
//         content: "Next →";
//       }
//     }
//   }
//   & .active {
//     border-top: 2px solid $teal-500;
//     margin-top: -2px;
//     & .page-link {
//       background: none;
//       color: $teal-600;
//     }
//   }
// }

// // Contact-Us

// .contact, .kontakt, .demo{
//   // existing styles
//   & .banner {
//     //existing styles..
//     & h1 {
//       font-size: 48px;
//       color: $teal-900;
//       background: $coolgray-200;
//       display: inline;
//       font-family: "Outfit var", sans-serif;
//     }

//     & .sub-banner {
//       font-weight: 500;
//       font-size: 24px;
//       color: $teal-900;
//       font-family: "Outfit var", sans-serif;
//     }
//   }
//   & h2{
//     font-size: 32px;
//     line-height: 100%;
//     color: $teal-900;
//     margin-bottom: 1rem;
//     font-family: "Outfit var", sans-serif;
//   }
//   & p {
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 164%;
//     color: $teal-900;
//     & a{
//       color: $teal-600;
//       text-decoration: underline;
//     }
//   }
//   & form{
//     // ex..
//     & .input-wrapper {
//       display: flex;
//       flex-direction: column;
//       padding: 20px 0px;

//       & label {
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 20px;
//         color: $gray-700;
//       }
//       & input,textarea{
//         border: 1px solid $gray-300;
//         box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
//         border-radius: 4px;
//         min-height: 38px;
//         padding: 0 10px;

//         &:focus-visible{     
//             outline: $teal-300 auto 1px;
//         }
//       }
//     }
//     & .message {
//       width: 100%;
//       position: relative;
//       margin: 60px 0;
//       display: flex;
//       justify-content: flex-start;
      
//       & .success {
//         font-size: 20px;
//         color: green;
//         position: absolute;
//         animation: buttons 0.3s linear;
//         display: none;
//       }

//       & .danger {
//         font-size: 20px;
//         color: red;
//         position: absolute;
//         transition: 0.3s;
//         animation: buttons 0.3s linear;
//         display: none;
//       }
//     }
//     & button {
//       border: none;
//       width: 136px;
//     }
//   }
// }


// .careers, .karriere, .job-single, .publications, .publikationen{
//   //existing styles
//   & .banner {
//     //existing styles..
//     & h1 {
//       font-size: 48px;
//       color: $teal-900;
//       background: $coolgray-200;
//       display: inline;
//       font-family: "Outfit var", sans-serif;
//     }

//     & .sub-banner {
//       font-weight: 500;
//       font-size: 24px;
//       color: $teal-900;
//     }
//   }
//   & .content {
//     font-size: 18px;
//     line-height: 157.52%;
//     color: $teal-900;
//     & h2{
//       font-family: "Outfit var", sans-serif;
//     }
//   }
//   & .pub-articles{
//     //existing styles
//     & h3 {
//       & a{
//         font-weight: 500;
//         font-size: 22px;
//         line-height: 100%;
//         color: $teal-900;
//         text-decoration: none;
//       }
//     }
//     & .pub-articles-wrapper {
//       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
//       border-radius: 6px;
//       transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//       border-top: 2px solid $gray-200;
    
      
//       & .pub-icons {
//         width: auto;
//       }
//       & .pub-icons2{
//         width: auto;
//       }
//       & .pub-date {
//         & a{
//           font-weight: 400;
//           font-size: 16px;
//           line-height: 20px;
//           color: $gray-500;
//           text-decoration: none;
//         } 
//       }
//       & .pub-articles-title  {
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 20px;
//         color: $teal-900;
//         text-decoration: none;
//       }
//       & .pub-articles-content{
//         font-size: 14px;
//         color: $gray-500;
//         & a{
//           color: $teal-600;
//           &:hover{
//             color:$teal-800;
//           }
//         }
//         & p{
//           margin-bottom: 0;
//           & :first-child:not(a){
//             color: $gray-700;
//           }
//         }
       
//       }
//       & .authors{
//         font-size: 14px;
//         color: $gray-500;
//       }
     
//       .pub-date {
//           font-weight: 400;
//           font-size: 14px;
//           line-height: 20px;
//           color: $gray-500;
//         } 
//     }
//   }
//   & .jobs {
//     //existing styles
//     & h3 {
//       & a{
//         font-weight: 500;
//         font-size: 22px;
//         line-height: 100%;
//         color: $teal-900;
//         text-decoration: none;
//       }
//     }
//     & .job-wrapper {
//       // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
//       // border-radius: 6px;
//       transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//       cursor: pointer;
//       border-top: 1px solid #E5E7EB;
//       border-bottom: 1px solid #E5E7EB;      
//       // &:hover{
//       //   box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
//       // }
//       & .job-icons {
//         width: 25px;
//       }
//       & .job-icons2{
//         width: 40px;
//       }
//       & .tag, .location, .job-close-date {
//         & a{
//           font-weight: 400;
//           font-size: 16px;
//           line-height: 20px;
//           color: $gray-500;
//           text-decoration: none;
//         } 
//       }
//       & .job-title  {
//         font-weight: 500;
//         font-size: 18px;
//         line-height: 20px;
//         color: $teal-600;
//         text-decoration: none;
//       }
//       & .job-type{
//         background: $teal-100;
//         border-radius: 10px;
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 16px;
//         text-align: center;
//         color: $teal-900;
//       }
//       .job-close-date {
//           font-weight: 400;
//           font-size: 14px;
//           line-height: 20px;
//           color: $gray-500;
//         } 
//     }
    
   
//   }
//   & .info{

//     font-size: 16px;
//     color: $gray-500;

//     & .job-type{
      
//         background-color: $coolgray-100;
//         color: $coolgray-800;
//         border-radius: 10px ;
//         font-size: 14px;
      
//     }
//     & div{
//       display: flex;
//       align-items: center;
//     }
//   }
  
// }

// // Imprint

// .privacy, .datenschutzerklärung, .imprint, .demo, .impressum{
//   //existing styles
//   & .content{
//     min-height: 50vh;
//   }
//   & .banner{
//     //existing styles
//     & .sub-banner{
//       font-size: 48px;
//       color: #312e81;
//       background: #a7f3d0;
//       display: inline;
//       font-weight: 500;
//       text-transform: none!important;
//       font-family: "Outfit var", sans-serif;
//     }
//   }
//   & article {
//     //existing styles..
//     & p {
//       font-size: 18px;
//       line-height: 157.52%;
//       margin-bottom: 2rem;
//       color: $teal-900;
//       text-align: justify;
//     }
//     & h1 {
//       font-weight: 500;
//       font-size: 32px;
//       line-height: 100%;
//       color: $teal-900;
//       padding-bottom: 0.75rem;
//     }
//     & h4,ul li, pre{
//       color: $teal-900;
//     }
 
//   }
//   & code {
//     font-family: "Outfit", sans-serif!important;
//   }
// }

// .job-single{
//   & .content{
//     & p,ul {
//     font-size: 18px;
//     line-height: 157.52%;
//     margin-bottom: 2rem;
//     text-align: justify;
//   }
//   & h1,h2,h3,h4,h5,h6{
//     padding-bottom: 0.75rem;
//   }
// }
// }

// ///..Form after submit

// @keyframes buttons {
//   0% {
//     transform: scale(0.1);
//   }
//   50% {
//     transform: scale(0.5);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// //Footer

// footer {
//   //existing styles...
//   & p {
//     font-size: 14px !important;
//     line-height: 140% !important;
//     color: $teal-900;
//   }
//   & .calltoaction {
//     //existing style...
//     & .row{
//       @include media-breakpoint-up(lg) { 
        
//           width: 75%!important;
//        }
//     }
//     & h2 {
//       color: #ffffff;
//       margin-bottom: 0;
//       font-family: "Outfit var", sans-serif;
//       font-weight: 400;
//     }

//     & .main-bnt {
//       background: linear-gradient(225deg, transparent 7px, $coolgray-200 7px);
//       color: $teal-900;
//       font-size: 14px;
//       width: 136px;
//       padding: 11px 14px;
//     }
//   }
//   .fa-twitter, .fa-linkedin{
//     font-size: 22px;
//     &::before{
//       color: $teal-600;
//     }

//   }
//  }

// // Media queries

// @include media-breakpoint-down(md) {
//   .copyright {
//     font-size: 0.75rem;
//   }
//   .schedule {
//     padding: 2rem;
//   }
//   article.first {
//     position: relative;

//     & img {
//       max-width: 100%;
//       height: auto;
//     }

//     & .data {
//       position: initial;
//       width: 100%;
//     }
//   }
//   .cta-card {
//     padding: 1.5rem;
//   }
//   .tabcontentservice {
//     margin-top: 0;
//   }
//   .queryella {
//     & h1 {
//       font-size: 3rem;
//     }
//     & h2 {
//       font-size: 1.25rem;
//     }
//     a:after {
//       content: none;
//     }
//   }
  
// }
// @media (min-width: 768px) {
  
//   .sub-menu{
//     padding-left: 0;
//     display: none;
//     transition: 280ms all ease-out;
//     position: absolute;
//     max-width: 15rem;
//   }
// }
// @media (max-width: 480px) {
//   .queryella .counters ul li {
//     width: 100%;
//   }
//  .solutions .solution-features .icon-wrapper, .lösungen .solution-features .icon-wrapper {
//     flex-basis: 13.6%;
//   }
// .solutions .solution-features .content-wrapper, .lösungen .solution-features .content-wrapper {
//   flex-basis: 86%;
//   }
//  .solutions .solution-features .content-wrapper span p, .lösungen .solution-features .content-wrapper span p {
//   padding-right: 1rem;
//   }
// .about .our-expertise .content-wrapper span p,
// .über .our-expertise .content-wrapper span p {
//   padding: 0;
//   text-align: left;
//   margin-top: 1rem;
//   }
//   .overlay-content {
//     position: absolute;
//     top: 34%;
//   }

// }
// @media (max-width: 991px) {
//   .banner-true {
//     background-size: 100% 100%;
// }
// .w720{
//   max-width: 720px;
//   margin: auto;
// }
// .drop-list .sub-menu,
// .lang-list .sub-menu{
//   & a{
//     padding: 0px 1rem!important; 
// }
// }
// }


// //@to optimise
// .content{
//   min-height: 50vh;
// }
// .grid-divider {
//   overflow-x: hidden; //quickfix to hide divider on left side
//   position: relative;
// }

// .main-bnt {
//   background: linear-gradient(225deg, transparent 7px, $teal-600 7px);
//   padding: 15px 14px;
//   line-height: 100%;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 18px;
//   text-align: center;
//   color: $white;
//   text-decoration: none;
//   transition: background-color 0.3s;
//   display: inline-block;
//   height: fit-content;
//   &:hover {
//     background: linear-gradient(225deg, transparent 7px, $teal-700 7px);
//     color: $white;
//   }
// }



// .sub-menu {
//   list-style: none;
// }
  

// .navbar-nav .nav-item .language{
//     color: #4f46e5;
//     text-decoration: none;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 18px;
//     padding: 15px 7px;
// }


// .menu__item.menu__dropdown input + .sub-menu {
//   display: none;
// }
// .navbar-nav .nav-item input + .sub-menu{
//   display: none;
// }
// .navbar-nav .nav-item input:checked + .sub-menu{
//   border: none;
//   visibility: visible;
//   opacity: 1;
//   display: block;
//   max-width: 100%;
//   background: #fff;
//   // position: relative;
//   width: 100%;
// }
// .menu__item.menu__dropdown input + .sub-menu{
//   display: none;
// }
// .menu__item.menu__dropdown input:checked + .sub-menu{
//   border: none;
//   padding-left: 20px;
//   visibility: visible;
//   opacity: 1;
//   display: block!important;
//   position: relative;
//   max-width: 100%;
// }
// .menu__item.menu__dropdown {
//   & a{
//     position: relative;
//   }

//   & label{
//     cursor: pointer;
//     width: 100%;
//     z-index: 99999999;
//     position: absolute!important;
//     left: 0;
//     display: inline-block;
//   }
// }
// .navbar-nav .nav-item input:checked {
//   background: #fff;
// }
// .menu__item.menu__dropdown input {
//   display: none;
// }
// .navbar-nav .nav-item input {
//   display: none;
// }
// .menu__item.menu__dropdown .drop-icon{
//   text-align: right;
//     position: relative;
// }
// .navbar-nav .nav-item .drop-icon{
//   text-align: right;
//   position: relative;
// }
// .drop-list,
// .lang-list{
//   padding-right: 10px;
//   position: relative;
//   min-width: 80px;
// }

// .drop-list .sub-menu,
// .lang-list .sub-menu{
//   & a{
//     padding: 10px .5rem;
//     &:hover{
//       text-decoration: underline;
//       background: $teal-500;
//       color: $white;
//     }
//   }
// }
// a.drop-ref,
// a.lang-ref {
//   position: relative;
//   display: inline-flex;
// }
// a.drop-ref label,
// .lang-label {
//     cursor: pointer;
//     width: 100%;
//     z-index: 99999999;
//     left: 5px;
//     position: absolute!important;
// }
// a.drop-ref label::selection,
// .a.drop-ref::selection,
// a.lang-ref label::selection,
// a.lang-ref::selection {
//   background: transparent;
// }
// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  clip-path: none;
  color: $teal-900;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 0.25rem;
  left: 0.25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 100000;
}

/// change nav bar structure


.navbar-nav {
  display: block;

  & li.nav-item {
    display: inline-block;
  }
}
// Headings

h1{
  font-size: 3.75rem;
}




// Homepage styles
.homepage{

  & h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.025em;
  }

  & h1#styled-title {
      color: $teal-700;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -0.04em;
      & span#first-word,
      span#last-word {
        color:$coolgray-900;
      }
    }


    & .banner{
      & p.desc {
        font-size: 24px;
      }
    }
    & .features {
      //existing styles...
      & .icon-wrapper {
        flex-basis: 18.6%;
        padding-right: 0.4%;
        & img {
          background: #99F6E4;
          padding: 15px;
          border-radius: 6px;
          width: 48px;
        }
      }
      & .content-wrapper {
        flex-basis: 81%;
        & .title{
          color: $coolgray-900;
          font-size: 1.25rem ;
          line-height: 1.5rem ;
          font-weight: 500;
          text-decoration: none;
        }
        & p{
          font-size: 1rem;
          line-height: 1.5rem;
          color: $coolgray-500;
          font-weight: 400;
          padding-top: 1rem;
        }
       }
    }
    & .video-section{
      background: url(../../img/home/section-bg.svg);
      background-repeat: no-repeat;

      & .video-wrapper{
        height: 400px;
        & .inline-svg{
          width: 8rem;
          height: 8rem;
          & svg {
            width: 100%;
            height: 100%;
  
            & path{
              fill: $teal-400;
            }
          }
         
        }
      }
    & .video-desc{
      & p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.56;
        color: $coolgray-500;
  
      }
      & a {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: $teal-600;
        text-decoration: none;
        & .inline-svg{
          width: .8rem;
          height: .8rem;
        }
      }
    }
    & .integrations{
      & > div{
 
        & .box-wrapper{
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          border-radius: 8px;
          max-width: 360px;
          padding: 1.5rem;
          & .icon {
            padding: 17px;
            width: 3.5rem;
            height: 3.5rem;
            background-color: $teal-50;
            border-radius: 8px;
            & .inline-svg{
              width: 1.62rem;
              height: 1.62rem;
                & path{
                  fill: $teal-600;
                }  
            }
          }
          & .title{
            font-size: 1.5rem;
            line-height: 1.17;
            font-weight: 500;
            color: $coolgray-900;
          }
          & .desc{
            font-size: 0.875rem;
            line-height: 1.43 ;
            font-weight: 400;
            color: $coolgray-500;

          }
        }
        & :first-child{    
          & .box-wrapper{
            float: right;
          }
        }
 
        
     
      }
    }
  }

  }
// Top Bar

#top-bar {
  background-color: $teal-600;
  color: #333;
  display: flex;
  align-items: center;
  padding: 11px;
}
#top-bar p {
  margin: 0 auto 0 0;
  text-align: center;
  flex: 1;
  color: #fff;
  font-weight: 500;
}
#top-bar a {
  color: #fff;
  font-weight: 700;
  padding-left: 1.5rem;
  text-decoration: underline;
}

#close-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto; /* align to right */
}

// Call-to-Action

.calltoaction {
  & h2{
    font-size: 2.25rem ;
    font-weight: 700;
    line-height: 1.11;
    color: $coolgray-900;
  }
  & p{
    font-size: 1.125rem ;
    font-weight: 400;
    line-height: 1.5;
    color: $coolgray-700;
  }
  & a {
    background: $white;
    border: 1px solid $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 13px 21px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $teal-800;
    text-decoration: none;

  }
}
//Footer

footer {
   //existing styles...
    & .logos{
      & p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        color: $teal-50;
      }
    }

    & .socials{
      & a{
        color: $teal-50;
        padding: 0 1rem;
      }
    }
    & .copyright{
      & p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: $teal-50;
      }
    }
  }










// filter-form styles

.form-filter{

  & label{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px; 
    color: $coolgray-700;
    & p {
      color: $coolgray-500;
    }
  }

  & details {
   //...
   & > div {
    background: #FFFFFF;
    mix-blend-mode: normal; 
    border: 1px solid $teal-600;
    border-radius: 6px;
    padding-block: 1.125rem;

    & .form-group-checkbox{
      gap: .75rem;
    }
    & > div {
      padding-inline: 2rem;
    }

   }
   & summary {
    color: $teal-700;
  }
 }

}




select#country,
input[type="text"]
 {
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 38px;
}
input[type="submit"] {
  background: #FDE68A;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border: none;
  height: 38px;
  color: #78350F;
}

a#advanced-options-toggle {

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0F766E;
  text-decoration: none;
}




.inline-svg {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}


#top-bar .inline-svg{
  display: flex;
}