<div class="container-fluid background-teal-50 d-flex justify-content-center align-items-center py-3 min-h-500" >
    <div class="container-md pt-3 banner">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12 mx-auto pt-md-5">
                <h1 id="styled-title" class="text-md-center">{{ .Params.Subtitle | safeHTML }}</h1>
            </div>
            <div class="col-xl-8 col-lg-6 col-12 mx-auto pt-3">
                <p class="text-md-center desc">{{ .Params.Description }}</p>
            </div>
            <div class="col-xl-12 col-lg-12 col-12">
                {{ partial "filter-form.html" . }}
            </div>
        </div>
    </div>
</div>