<div class="container-lg calltoaction pt-5 mt-lg-5">
    <div class="row mx-auto justify-content-between align-items-center background-teal-100  px-3 py-4-5">
        <div class="col-xl-3 col-md-3 col-4 mb-md-0 mb-3 py-3">
            <h2>Get involved!</h2>
        </div>
        <div class="col-xl-4 col-md-3 col-4  py-3">
            <p>Interested in bringing transparency to content takedown policies? Reach out!
            </p>
        </div>
        <div class="col-xl-5 col-md-6 col-4 py-3 d-flex justify-content-end ">
            <a href='#' class="bnt main-bnt">Get involved!</a>
        </div>
    </div>
  </div>