<!-- Footer -->
<footer class="text-center text-md-start ">
  
    <!-- Section: Logos  -->
    <section>

      <div class="text-center text-md-start background-teal-900 p-sm-0">
        <!-- Grid row -->
        <div class="row p-5  mx-5">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-6 col-xl-6  mb-4 logos">
            <!-- Content -->
            <div class="row">
              <div class="col-12 d-flex align-items-center justify-content-start">
                <p class="mb-0 pe-5">A project by</p>
                <img class="pe-5" src="/img/footer-logo2.svg" alt="footer logo">
                <img src="/img/footer-logo1.svg" alt="footer logo">     
              </div>
             
             
            </div>

           
           
            
          </div>
          <!-- Grid column -->
  
         
  
      <!-- Section: Socials  -->
  
    
          <div class="col-md-6 col-lg-6 col-xl-6  mb-md-0 mb-4 d-flex justify-content-end socials">
            <!-- Links -->
            {{- with .Site.Params.social }}
            {{ partial "social-icons.html" . }}
            {{- end }}
          </div>
         
           
          
          <!-- Grid column -->
        </div>
         <!-- Copyright -->
        <div class="row px-5 py-3 mx-5 copyright">
          <div class="col-12">
            <p class="mb-0">
              <!-- Links -->
              © {{ .Site.Params.Description }}
            </p>
          </div>
        </div>
         <!-- Copyright -->
        <!-- Grid row -->
      </div>
    </section>
 
    <!-- Section: Links  -->
  
    
  </footer>
  <!-- Footer -->

{{ partial "javascript.html" . }}